@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    /* src: local('Inconsolata-Regular'), local('Inconsolata'), local('Inconsolata Regular'), url('../fonts/inconsolata/Inconsolata-Regular.ttf'); */
    src: url('../fonts/inconsolata/Inconsolata-Regular.ttf');
}

@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 700;
    /* src: local('Inconsolata-Bold'), local('Inconsolata Bold'), url('../fonts/inconsolata/Inconsolata-Bold.ttf'); */
    src: url('../fonts/inconsolata/Inconsolata-Bold.ttf');
}

body {
    background-color: #414141;
    color: #000000;
    display: flex;
    flex-direction: column;
    font-size: 14pt;
    min-width: 500px;
    margin: 0px;
    padding: 0px;
    font-family: 'Inconsolata', monospace;
}

a {
    color: #cd6294;
    text-decoration: none;
    transition: text-shadow .3s;
}

a:visited {
    color: #941921;
}

a:hover {
    text-shadow: 0px 0px 2px #ffb0fe;
}


input {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 3px solid #d5d5d5;
    background-color: #ffffff;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    font-family: 'Inconsolata', monospace;
}

textarea {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 3px solid #d5d5d5;
    background-color: #ffffff;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    font-family: 'Inconsolata', monospace;
}


table {
    border-spacing: .25em;
}

button {
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 3px solid #d5d5d5;
    background: #dcdad5;
}

button:hover {
    background: #e7e5e1;
}

button:disabled:hover {
    background: #dcdad5;
}

h1, h2, h3, h4 {
    margin-top: .33em;
    margin-bottom: .33em;
}

#main-wrapper {
    flex: 1;
    /* This is used to make the footer "flush" with the rest of the page */
    min-height: 94vh;
    background-color: #d5d5d5;
}

#site-header {
    background-color: #414141;
    color: #d5d5d5;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    padding: 15px;
}

#site-header a {
    color: #ffffff;
    text-decoration: none;
}

#site-footer a {
    color: #d999b7;
    text-decoration: none;
}

#site-header-right-stuff {
    float: right;
}

#site-main-content {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

#site-footer {
    background-color: #414141;
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 10px;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
}

.feedish-tabs {
    /* @@: Should this be inline, probably? */
    display: flex;
    flex-direction: row;
}

.feedish-tabs div.tab {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 3px solid #e6e6e6;
    background-color: #e6e6e6;
    display: inline;
    margin-right: 6px;
    text-align: center;
    padding-right: 12px;
    padding-left: 12px;
}

.tab-active {
    margin-top: 0px;
    padding-top: 8px;
    padding-bottom: 4px;
    font-size: 1.2em;
}

.tab-look-at-me {
    margin-top: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #9c414a;
}

.tab-idle {
    margin-top: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #414141;
}


.post-and-replies-wrapper {
    border-top-left-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 3px solid #e6e6e6;
    background-color: #e6e6e6;
    padding-bottom: 5px;
}

div.generic-content-box {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 3px solid #e6e6e6;
    background-color: #e6e6e6;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

div.simple-centered-wrap {
    display: flex;
    justify-content: center;
}

pre.code-box {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #414141;
    color: #ffffff;
    padding: 20px;
}

.pre-content-header {
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 1em;
}

.feedish-post {
    background-color: #ffffff;
    border-radius: 6px;
    border: 3px solid #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}


.feedish-header {
    display: flex;
    flex-direction: row;
    border-bottom: medium dashed #dddddd;
    padding-bottom: 4px;
    margin-bottom: 8px;
}

.feedish-header-right {
    margin-left: 10px;
}

.feedish-header-right h2 {
    margin-top: 0px;
    margin-bottom: 3px;
}

.feedish-user-avatar {
    height: auto;
    width: 100px;
}

.feedish-entry-content p:first-child {
    margin-top: 5px;
}

.feedish-entry-buttons {
    display: flex;
    justify-content: flex-end;
}

.feedish-entry-buttons div {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    /* probably problematic, who knows how consistent this is? */
    width: 9ch;
    text-align: center;
    margin: 3px;
}

.like-plain {
    color: #732b30;
    border-radius: 4px;
}

.share-plain {
    color: #22421b;
}

.reply-plain {
    color: #5a627b;
    border-radius: 4px;
}

.like-active {
    background-color: #941921;
    border-radius: 8px;
    color: #ffffff;
}

.share-active {
    background-color: #2b671f;
    border-radius: 8px;
    color: #ffffff;
}

.feedish-reply-post {
    background-color: #ffffff;
    border-radius: 6px;
    border: 3px solid #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-left: 100px;
}



.reply-post-separator {
    margin: 0px;
    background: #ffffff;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 100px;
    padding-right: 20px;
    padding-left: 20px;
}

.reply-post-separator hr {
    margin: 0px;
    border-top: 2px dotted #838383;
    border-left: #000000;
    border-right: #000000;
    border-bottom: #000000;
}


.video-box {
    display: flex;
    justify-content: center;
}

video {
    width: 100%;
    max-width: 900px;
    height: auto;
    padding-bottom: 1em;
}

.image-box {
    display: flex;
    justify-content: center;
}

image {
    width: 100%;
    max-width: 900px;
    height: auto;
    padding-bottom: 1em;
}

pre.tombstone-ascii {
    font-size: .75em;
}

.tag-sep {
    color: #838383;
}

.header-tag-plain {
    color: #5a5a52;
}

.header-tag-mention {
    color: #a46ab4;
}

.header-tag-mention a {
    color: #62317b;
}

.feedish-entry-headers table {
    border-spacing: 4px;
    margin: -4px;
}

.feedish-entry-headers {
    border-bottom: medium dashed #dddddd;
    padding-bottom: 4px;
    margin-bottom: 8px;
    width: 100%;
}

.feedish-entry-headers table th {
    text-align: left;
}

pre {
    font-family: 'Inconsolata', monospace;
}

pre.magnet-preview {
    margin: 0px;
}
